.navbar.navbar-default{
	background: #0061B4;
}
ul.navbar-right{
	margin-top: 20px;
}
.slimScrollDiv{
	background: #0061B4;
}
.sidebar .nav>li>a{
	color: white;
	font-family: 'Francois One', sans-serif;
}
.sidebar .sub-menu>li>a{
	font-family: 'Francois One', sans-serif;
}
.sidebar .nav>li>a i{
	color: white;
}
.text-gray{
	color: gray;
}
.page-sidebar-minified .sidebar-minify-btn i:before,.sidebar .sub-menu>li>a:before,.sidebar .sub-menu:before{
	content: '';
	background: none;
}
.sidebar{
	background: #0061B4;
}
body{
	background: #bcd6e8;
}

.sidebar .nav>li>a:hover{
	background: #bcd6e8;
	color: black;
}
.sidebar .nav>li.nav-profile,.sidebar-minify-btn{
	background: #041c4e;
}
.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus{
	background: #041c4e;	
}
.sidebar .sub-menu{
	background: #0061b4;
}
.panel{
	box-shadow: 5px 5px rgba(0, 0, 0, 0.40);
}
.block-lny{
	border-radius: 4px;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.40);
	margin: 0px 10px 10px;
	    overflow: hidden;
}
.block-title-lny,
.block-info-lny{
	width: 100%;
	padding: 5px 10px;
	display: block;
	}
.block-title-lny{
	background: #102756;
}
.block-title-lny *{
	font-family: 'Francois One', sans-serif;
	color: white;
}
.block-info-lny{
	border: 1px solid #102756;
	background: white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	min-height: 51px;
}
.block-info-lny *{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 9pt;
    font-weight: bold;
}

.block-lny.balances{
	position: relative;
	background: white;
	border-top: 1px solid;
}
.block-lny.balances img{
	float: left;
	margin-right: 5px; 
}
.block-lny.balances h4{
	font-size: 10pt;
	text-align: center;
	color: #bbb;
    margin-top: 0px;
    padding-top: 10px;
    font-family: 'Francois One', sans-serif;
}
.block-lny.balances p{
	text-align: center;
    color: #0061b4;
}
.well{
	background: #ececec;
}

.tablecell{
	display: inline-block;
	width: 49%
}
.fullwidth{
	width: 100%;
}
.text-right{
	text-align: right;
}
.lny-color{background: #bcd6e8;}
.btc-color{background: rgba(247, 147, 26, 0.2);}
.ref-color{background: #c3ffc7;}

.no-padding{
	padding: 0px 0px 0px 10px !important;
}

.block-title-lny h4{
	text-transform: capitalize;
}
.block-title-lny h4 span{
	text-transform: none;
	font-weight: normal;
}
.block-title-lny h4 .label{
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 15px;
}
.zero-padding{
	padding: 0px;
}
.row{
	margin-bottom: 15px;
}
h4{
	margin-bottom: 0px;
	margin-top: 0px;
}
.bgtimer{
	background: url('https://leigonphy.co/assets/web/assets/images/roadmap2-min.png');
	background-size: cover;
}

#countdown{
/*	width: 465px;
	height: 112px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;*/
}


#countdown #demo{
	position: relative;
	z-index: 1;
	text-align: center;
}

#countdown #demo > span{
width: 52px;
    max-width: 92px;
    font: bold 28px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: -moz-linear-gradient(top, #bbb, #eee);
    background-image: -ms-linear-gradient(top, #bbb, #eee);
    background-image: -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 8px 0;
    display: inline-block;
    position: relative;
}

#countdown #demo > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #demo > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	bottom: 8px;
}

#countdown .labels li{
width: 63px;
    color: #0061b4;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.panel-lny-desk{
	background: white;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.40);
    padding: 15px 5px;
}
.content {
    margin-left: 220px;
    padding: 10px 15px;
}

ul.socialicons {
	display: inline-block;
    margin-left: 20%;
    padding: 0px;
}

ul.socialicons li {
	list-style-type: none;
	float: left;
}

ul.socialicons li a i {
	font-family: FontAwesome;
	color: #041c4e;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    margin-right: 20px;
    padding-top: 15%;
}

div#countdown h5 {
    color: #102756;
    font-size: 29pt;
    text-align: center;
    }

 .w50{
 	width: 70%;
 	margin: auto;
 }
 .w80{
 	width: 90%;
 	margin: auto;
 }
 .statslist{
 	float: left;
    display: block;
    width: 620px;
    height: 100%;
    padding: 0;
 }
 li.stats-info {
    display: inline-block;
    width: 32%;
    height: 100%;
}
.statslist p {
    margin: 10px;
    font-size: 23px;
}
.form-control:focus{
	outline: 2px solid rgba(0, 97, 180, 0.64);
}
.fieldslny{
	margin-bottom:10px 
}
button.btn.btn-primary.btn-block{
	display: block;
}

.row-margin-botttom .row{
	margin-bottom: 50px;
}

.balances p{
	font-size: 23px;
}
.balances h4{
	margin-bottom: 10px;
}
.table>thead>tr>th{
	padding: 2px 15px;
	font-size: 14px;
}
.sidebar .sub-menu>li>a{
	color: white;
}
.sidebar .sub-menu>li>a:hover{
	color: #041c4e;
}
