#intro{
  background-image: url('../images/roadmap2-min.png')!important;
  background-size: cover!important;
  padding-bottom: 50px;
}
.fullw{
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.fright{
    float: right;
}
.roadmap-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.countdown-box-fix{
  padding-right: 140px;
}
.title{margin: 10px;text-align: center;}

.io-azure .countdown-box{
  background: none;
}

.section-bg.section-gradiant, .section-bg-alt.section-gradiant{
  background-image: url("../images/header-bg-azure.png");
  background-size: cover; 
}

.section-head-s2:after {
    top: -5px;
    margin-left: -50px;
    background: #7ab9ff;
}
.section-head-s2:before {
    top: 30px;
    margin-left: -80px;
    background: #46bdf4;
}
.section-head-s2:before, .section-head-s2:after {
    position: absolute;
    left: 52%;
    height: 2px;
    width: 110px;
    content: "";
    transform: rotate(180deg);
    z-index: 1;
    opacity: .4;
}
.footer-particle{
  background: #0b3795 url(../images/footer-bg-azure.png) no-repeat 50% 0/contain !important;
}


.io-azure .countdown-box .token-countdown .countdown-text{
  color: #f7f7f8;
}
.lg-video{
  background-image: url("../images/borde-video.png");
  background-size: cover; 
  padding: 32px 6px 30px 32px;
}
.fix-right{
  text-align: right;
}


.btn.btn-alt{
  background-image: linear-gradient(to right, #0d9ee0 0%, #340075 100%);
}
.btn.btn-alt:before{
  background-image: linear-gradient(to right, #340075 0%, #0d9ee0 100%);
}

.btn{
  background-image: linear-gradient(to right, #0d9ee0 0%, #340075 100%);
}
.btn:before{
  background-image: linear-gradient(to right, #340075 0%, #0d9ee0 100%);
}

.video_border{
  background-image: url("");
}
.roadmap_row{
  max-width: 75%;
    margin: auto;
}
 

#loader, #loader:before, #loader:after{
  -webkit-animation: none;
  animation: none;
  border: none;
}

.navbar .navbar-nav > li:hover a{
  color: #41a3fa;
}


.section-pro-alt{
  background: white!important;
}

.navbar .navbar-nav > li > a.nav-link.active{
  color: #41a3fa;
}

#tokenSale:before{
}

.margin-bottom-50{
  margin-bottom: 50px;
}
.payment-section{
  background: white; 
} 

.bg-exchange:before{
content: "";
    background: url(../../images/Exchange.png) 50% 50% no-repeat;
    background-size: contain;
    height: 60%;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}


#myVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    position: absolute;
    min-height: 100%;
}
.header-image-alt{
  min-width: 80%;
}


.lending_table{
}
.lending_table table tr:nth-child(even){
  background: rgba(17, 84, 228, 0.3);
}
.lending_table table tr:nth-child(odd){
  background: rgba(255,255,255,0.3);
}
.lending_table table tr:hover{    
    background: rgb(247, 247, 247);
    color: black;}
.lending_table table td{
  padding: 20px 15px;
}

a{
  color: #0b3795;
}
.fullwidth{
  width: 100%;
}
.input-fullwidth input,.input-fullwidth select{
width: 100%;
    display: table-cell;
    padding: 4px 5px 4px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 37px;
}



.register-lny{
  padding: 20px 40px;
    background: rgba(255,255,255,0.2);
}



.input-group-addon{
  padding: 6px 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40px;
}
.form-group{
  display: table;
}
.register-button{
}
.font-white a{
  color: white;
}.font-white a:hover{
  color: gray;
}

.site-header .is-transparent + .banner .no-padding{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.help-block{
  color: #ffe200;
  display: table-caption;
}
#contact i.fa {
    font-size: 10em;
}
#contact li{
  list-style: none;
}
.verify{

}
.text-wrap{
  font-size: 100%;
}


@media only screen and (max-width: 420px) {
  .countdown-box-fix {
      padding-right: 50px;
      padding-left: 50px;
  }
  .countdown-box-fix .btns li{
    float: none;
  }
  #intro video{
    width: 100%;
    height: auto;
  }
  .bg-exchange:before{
    background-image: none;
  }
  .section.footer-scetion.footer-particle.section-pad-sm.section-bg-dark * {
    text-align: center;
  }
  .navbar-toggler{
    background: linear-gradient(to right, #320b7d 0%, #0e9bde 100%);
  }
  .navbar-toggler:hover {
    background: linear-gradient(to right, #16a3fe 0%, #41faa4 100%);
  }
  .navbar-toggler:hover {
    background: linear-gradient(to right, #0e99dc 0%, #300e7e 100%);
  }
  .site-header .is-transparent + .banner .no-padding{
  padding-top: 30px;
  }
}


